@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Smooch+Sans:wght@100..900&display=swap');

.atkinson-regular {
  font-family: "Atkinson Hyperlegible", serif;
  font-weight: 400;
  font-style: normal;
}

.atkinson-bold {
  font-family: "Atkinson Hyperlegible", serif;
  font-weight: 700;
  font-style: normal;
}

.atkinson-regular-italic {
  font-family: "Atkinson Hyperlegible", serif;
  font-weight: 400;
  font-style: italic;
}

.atkinson-bold-italic {
  font-family: "Atkinson Hyperlegible", serif;
  font-weight: 700;
  font-style: italic;
}

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100..900&family=Smooch+Sans:wght@100..900&display=swap');

.atkinson--regular {
    font-family: "Atkinson Hyperlegible", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .atkinson-bold {
    font-family: "Atkinson Hyperlegible", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .atkinson-regular-italic {
    font-family: "Atkinson Hyperlegible", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .atkinson-bold-italic {
    font-family: "Atkinson Hyperlegible", serif;
    font-weight: 700;
    font-style: italic;
  }

  @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');
  .barlow-condensed-thin {
    font-family: "Barlow Condensed", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .barlow-condensed-extralight {
    font-family: "Barlow Condensed", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .barlow-condensed-light {
    font-family: "Barlow Condensed", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .barlow-condensed-regular {
    font-family: "Barlow Condensed", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .barlow-condensed-medium {
    font-family: "Barlow Condensed", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .barlow-condensed-semibold {
    font-family: "Barlow Condensed", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .barlow-condensed-bold {
    font-family: "Barlow Condensed", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .barlow-extrabold {
    font-family: "Barlow Condensed", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .barlow-condensed-black {
    font-family: "Barlow Condensed", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .barlow-condensed-thin-italic {
    font-family: "Barlow Condensed", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .barlow-condensed-extralight-italic {
    font-family: "Barlow Condensed", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .barlow-condensed-light-italic {
    font-family: "Barlow Condensed", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .barlow-condensed-regular-italic {
    font-family: "Barlow Condensed", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .barlow-condensed-medium-italic {
    font-family: "Barlow Condensed", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .barlow-semibold-italic {
    font-family: "Barlow Condensed", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .barlow-bold-italic {
    font-family: "Barlow Condensed", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .barlow-extrabold-italic {
    font-family: "Barlow Condensed", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .barlow-black-italic {
    font-family: "Barlow Condensed", serif;
    font-weight: 900;
    font-style: italic;
  }
  